
body{
    background-color: #c9c6c0;
}
main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 10rem;
}

.main__text img {
    width: 9.5rem;
    margin-bottom: 0.3vh;
}
.main__text h3 {
    font-size: 2.5rem;
    margin-bottom: 0.4rem;
}

.main__text p{
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

.main__text h6{
    color: #999;
    font-size: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.main__text .btn{
    padding:  10px 25px;
    background-color: #0071e3;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.5s;
}

.main__text .btn:hover{
    opacity: .85;
}

.main__text .text h5{
    font-size: 1rem;
    color: #444;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}

.main__text .content{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main__text .content span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px #888;
    transition: all 0.3s ease-in-out;
}



.main__text .content span:hover{
    opacity: .80;
}

#grey{
    background-color: #4E4E50;
}

#white{
    background-color: #E0E1E3;
}


.main__imagem{
    transition: all 1s ease;
    z-index: 100;
}

.main__imagem img {
    
    width: 600px;
    transform: rotate(-7deg);
}

.circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4E4E50;
    clip-path: circle(800px at right 1000px);
}