*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    text-decoration: none;
    list-style: none;
}

html{
    overflow-x: hidden;
    overflow-y: hidden;
}


.github {
    color: #eaa80e;
    font-weight: 600;
}